body {
    background-color: #ffe8d6;
}
.card {
    background-color: #a5a58d;
    width: 100%;
}
.card-body {
    background-color: #b7b7a4;
}
.list-group-item {
    background-color: #b7b7a4;
}
.sticky-bar {
    background-color: #ffe8d6;
    height: 4rem;
}
.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }